/*向下：弹窗*/

.screen {
	background: #000;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop));
	opacity: 0.3;
	filter: alpha(opacity=30);
	overflow: hidden;
	z-index: 7778;
}

.pop_wrap {
	background: #fff;
	z-index: 8888;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	position: fixed;
	top: 25%;
	padding-bottom: 10px;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop + 100));
}

.pop_title {
	position: relative;
	background: #eee;
	width: 100%;
	height: 32px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.pop_title span {
	line-height: 32px;
	margin-left: 10px;
	color: #a7a7a7;
	font-size: 14px
}

.pop_title em {
	position: absolute;
	right: 10px;
	top: 9px;
	display: block;
	background: url(../images/close.png) no-repeat;
	cursor: pointer;
	width: 14px;
	height: 14px;
}

.pop_con {
	padding: 10px 10px 0;
}

.pop_con p {
	font-size: 12px;
	color: #333;
	line-height: 24px;
}

.pop_con p.hur1 {
	padding-top: 14px;
}

.pop_statu {
	margin: 0px 15px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	color: #333
}

.input_text1 {
	height: 30px;
	border: 1px solid #dedede;
	line-height: 30px;
	padding: 0 5px;
}

.checkbox1 {
	margin-right: 5px;
	float: left
}

.pop_1 {
	padding: 15px 0;
	border-bottom: 1px dotted #ccc;
}

.pop_2 dt {
	line-height: 24px;
	margin: 10px 0;
}

.pop_2 dd {
	float: left;
	width: 150px;
	height: 30px;
	color: #666;
}

.pop_2 dd span {
	float: left;
}

.pop_3 {
	float: left;
	width: 140px;
	border-right: 1px solid #ccc;
	margin: 10px 20px;
}

.pop_3 dt {
	line-height: 30px;
	font-size: 14px;
	color: 333;
}

.pop_3 dd {
	color: #666;
	padding: 9px 0;
	clear: both;
	*+padding: 5px 0;
}

.pop_4a {
	color: #666;
}

.pop_4a dt {
	float: left;
	height: 80px;
}

.pop_4a dd {
	float: left;
	width: 150px;
	padding: 0px 0 10px 10px;
}

.pop_4b {
	clear: both;
	color: #666;
	padding-left: 15px;
}

.pop_4c span {
	float: left;
	color: #666;
	padding-left: 15px;
}

.pop_4c textarea {
	width: 325px;
	height: 110px;
	padding: 0 5px;
	font-size: 12px;
}

.pop_5 p {
	margin-top: 15px
}

.pop_5a {
	float: left;
	margin-right: 10px;
	line-height: 30px;
}

.pop_5b {
	background: #fcfcfc;
	border: 1px solid #ccc;
	color: #999;
	padding: 10px;
	margin-top: 10px;
}

.pop_5 textarea {
	padding: 0 5px;
	font-size: 12px;
}

.pop_p1 {
	line-height: 50px;
}

.pop_p2 {
	font-size: 14px;
	color: #333;
}

.pop_p3 {
	padding-left: 20px;
}

.pop_btn {
	clear: both;
	text-align: center;
	padding: 15px 0;
}

.btn_1 {
	display: inline-block;
	cursor: pointer;
	margin: 0px 8px;
	line-height: 26px;
	background: #e65c17;
	padding: 0 20px;
	color: #fff;
	-moz-border-radius: 3px;
	/* Gecko browsers */
	-webkit-border-radius: 3px;
	/* Webkit browsers */
	border-radius: 3px;
	/* W3C syntax */
	border: 0;
}

.btn_2 {
	display: inline-block;
	cursor: pointer;
	margin: 0px 8px;
	line-height: 26px;
	padding: 0 20px;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	/* Gecko browsers */
	-webkit-border-radius: 3px;
	/* Webkit browsers */
	border-radius: 3px;
	/* W3C syntax */
}

.btn_3 {
	display: inline-block;
	cursor: pointer;
	margin: 0px 8px;
	line-height: 26px;
	background: #42d79f;
	padding: 0 20px;
	color: #fff;
	-moz-border-radius: 3px;
	/* Gecko browsers */
	-webkit-border-radius: 3px;
	/* Webkit browsers */
	border-radius: 3px;
	/* W3C syntax */
	border: 0;
}

.collection {
	background: url(/images/common/ico_14.png) no-repeat 50px 10px;
	height: 42px;
	font-size: 14px;
	color: #e65c17;
	line-height: 42px;
	padding: 10px 0 10px 120px;
}

.invest01 {
	background: url(/images/common/ico_14.png) no-repeat 5px 30px;
	height: 42px;
	color: #666;
	line-height: 42px;
	padding: 30px 0 20px 55px;
}

.invest01 p {
	font-size: 14px;
}

.pop_6 {
	padding-top: 10px;
	margin: 0px 15px;
}

.pop_6 p {
	padding: 10px 0;
	clear: both
}

.pop_6 .ico_z {
	width: 14px;
	height: 14px;
	background: url(/images/common/ico_18.png) no-repeat;
	display: block;
	float: left;
	margin: 2px 5px 0 0;
}

.pop_6a .ico_z2 {
	width: 25px;
	height: 25px;
	background: url(/images/common/ico_18.png) no-repeat 0px -20px;
	display: block;
	float: left;
}

.pop_6a {
	height: 40px;
	line-height: 30px;
	padding-left: 40px;
	padding-top: 10px;
	border-top: 1px solid #eee;
}

#thisForm td {
	padding: 5px 0;
}

#thisForm .tdcon {
	width: 70px;
	float: left;
}

#thisForm .tipinfo {
	float: left;
	margin-left: 10px;
	color: #f00;
	line-height: 30px;
}

.msg1 {
	background: url(/images/common/msg_bg.png) no-repeat 0 -95px;
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	margin: 5px;
}


/*h5弹窗*/

.d5_cwts {
	width: 180px;
	height: 30px;
	border-radius: 20px;
	position: fixed;
	top: 45%;
	left: 50%;
	margin-left: -90px;
	text-align: center;
	background-color: #565656;
	opacity: .80;
	-moz-opacity: .80;
	filter: alpha(opacity=80);
	z-index: 101;
}

.d5_cwts p {
	font-size: 14px;
	color: #fff;
	line-height: 30px;
}


/*弹窗结束*/

/*haung */
.add-menu-add {
    display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	line-height: 22px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	border-radius: 12px;
	background-color: #42d79f;
	cursor: pointer;
}

.search-bar .add-menu-add 
 {
	margin-right: 10px;
	vertical-align: middle;
}

